/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../lib/font/lora/lora.css);


// Override theme settings (see ../template/settings.scss)

$backgroundColor: #509B8C;
$backupBlue: #31779B;
$backupRed: #812930;
$backupYellow: #D6D36F;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 38px;
$mainFont: 'Lora', serif;
$headingFont: 'Lora', serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #CE5660;
$linkColorHover: darken( $linkColor, 5% );
$selectionBackgroundColor: darken( $linkColor, 25% );


$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
// 

// Custom Settings

.reveal blockquote{
  padding: 1em;
  line-height: 2;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: darken($backgroundColor, 5%);
  box-shadow: 1px 1px 0px darken($backgroundColor, 20%),
  2px 2px 0px darken($backgroundColor, 20%),
  3px 3px 0px darken($backgroundColor, 20%),
  4px 4px 0px darken($backgroundColor, 20%),
  5px 5px 0px darken($backgroundColor, 20%),
  6px 6px 0px darken($backgroundColor, 20%),
  7px 7px 0px darken($backgroundColor, 20%);

}

.reveal pre {
	border-radius: 4px;
  box-shadow: none;
}

.reveal pre code {
	border-radius: 4px;
	font-size: 2rem;
	line-height: 1.5;
}

.reveal strong{
	background-color: #333;
	padding: 0px 10px 0px 10px;
}

.reveal em{
  background-color: #D6D36F;
  color: #333;
  padding: 0px 10px 0px 5px;
  font-style: normal;
}

.reveal .reference{
  font-size: 1rem;
  color: #fff;
  position: absolute;
  bottom: -100;
  left: 0;
}